.alignCenter{
	display:table;
	margin:auto;
}

.marginTop10{
	margin-top:10px;
}

.marginTop20{
	margin-top:20px;
}

body{
	background-color:#f3f3f3;
	margin:0px;
}
body header{
	background-color:#ffffff;
	min-height:78px;
}
body header img.logo{
	margin-top:25px;
	margin-left:25px;
}
body header img.menu{
	margin-top:25px;
	margin-left:150px;
}
@font-face{
  font-family: D-DIN;
  src: url(D-DIN.otf);
}
@font-face{
  font-family: D-DIN;
  src: url(D-DIN-Bold.otf);
  font-weight: bold;
}
@font-face{
  font-family: D-DIN;
  src: url(D-DIN-Italic.otf);
  font-style:italic;
}
body article{
	padding-left:25px;
	padding-right:25px;
}
body article p{
	font-family: D-DIN;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
}
body article h1{
	font-family: D-DIN;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
}
body article h2{
	font-family: D-DIN;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
}
body article input[type=text]{
	font-family: D-DIN;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	background: #F3F3F3;
	border: 1px solid #594D9D;
	box-sizing: border-box;
	border-radius: 29px;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:20px;
	padding-right:20px;
	width:100%;
	outline:none;
	color: #6A44A1;
}
body article input[type=button]{
	background: linear-gradient(90deg, #594D9D -27.8%, #A922AC 140.79%);
	border-radius: 29px;
	font-family: D-DIN;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 115.8%;
	text-align: center;
	color: #FFFFFF;
	padding:12px;
	width:100%;
	border:0px solid #000000;
}
body article img.inputIcon{
	position:absolute;
	margin-left:-40px;
	margin-top:10px;
}

body article div.tag{
	display:inline-block;
	font-family: D-DIN;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 115.8%;
	border-radius: 29px;
	border: 1px solid #594D9D;
	box-sizing: border-box;
	color: #6A44A1;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:12px;
	padding-right:12px;
	margin-right:10px;
	margin-bottom:8px;
}

body article div.tagSelected{
	background: linear-gradient(90deg, #594D9D -27.8%, #A922AC 140.79%);
	color: #FFFFFF;
	font-weight: bold;
}

body article.articlePreview{
	border-radius:14px;
	background-color:#ffffff;
	margin:25px;
	padding:0px;
	display:table;
}

body article .articlePreviewRow{
	display:table-row;
}

body article img.articlePreviewPhoto{
	width:100px;
	border-radius:14px 0px 0px 14px;
	display:table-cell;
	vertical-align:top;
}

body article .articlePreviewParagraph{
	display:table-cell;
	vertical-align:top;
	padding:10px;
}

body article a{
	font-family: D-DIN;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	text-decoration:none;
	color:#594D9D;
}

body article a:visited{
	font-family: D-DIN;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	text-decoration:none;
	color:#594D9D;
}
