body{
	background-color:#f3f3f3;
	margin:0px;
}
body header{
	background-color:#ffffff;
	min-height:78px;
}
body header img.logo{
	margin-top:25px;
	margin-left:25px;
}
body header img.menu{
	margin-top:25px;
	margin-left:150px;
}
@font-face{
  font-family: D-DIN;
  src: url(D-DIN.otf);
}
@font-face{
  font-family: D-DIN;
  src: url(D-DIN-Bold.otf);
  font-weight: bold;
}
@font-face{
  font-family: D-DIN;
  src: url(D-DIN-Italic.otf);
  font-style:italic;
}
body article{
	padding:25px;
	padding-top:10px;
}
body article p{
	font-family: D-DIN;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
}
body article h1{
	font-family: D-DIN;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
}
body article input[type=text]{
	font-family: D-DIN;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	background: #F3F3F3;
	border: 1px solid #594D9D;
	box-sizing: border-box;
	border-radius: 29px;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:20px;
	padding-right:20px;
	width:100%;
	outline:none;
	color: #6A44A1;
}
body article input[type=button]{
	background: linear-gradient(90deg, #594D9D -27.8%, #A922AC 140.79%);
	border-radius: 29px;
	font-family: D-DIN;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 115.8%;
	text-align: center;
	color: #FFFFFF;
	padding:12px;
	width:100%;
}
body article img.inputIcon{
	position:absolute;
	margin-left:-40px;
	margin-top:10px;
}
body article .alignCenter{
	display:table;
	margin:auto;
}

body article .marginTop10{
	margin-top:10px;
}

body article .marginTop20{
	margin-top:20px;
}
